[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = "DisablePlayerData - great plugin for lobby ;)"
[access "refs/*"]
	owner = group user/kamcio96 (kamcio96)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/kamcio96 (kamcio96)
	label-Verified = -1..+1 group user/kamcio96 (kamcio96)
	push = group user/kamcio96 (kamcio96)
	read = group user/kamcio96 (kamcio96)
	rebase = group user/kamcio96 (kamcio96)
	removeReviewer = group user/kamcio96 (kamcio96)
	submit = group user/kamcio96 (kamcio96)
[access "refs/heads/*"]
	create = group user/kamcio96 (kamcio96)
	push = +force group user/kamcio96 (kamcio96)
	pushMerge = group user/kamcio96 (kamcio96)
	read = group user/kamcio96 (kamcio96)
[access "refs/tags/*"]
	push = group user/kamcio96 (kamcio96)
	push = +force group user/kamcio96 (kamcio96)
